@import url('@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.text{
    font-family: "Bebas Neue"
    font-size: 30px;
    line-height: 30px;
    p{margin: 0px 0px 30px 0px;}
}